* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.text-primary {
	color: #fd6e0a;
}
button,
input[type='submit'] {
	height: 64px;
	font-weight: 700;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	padding: 18px 30px;
	cursor: pointer;
}
.btn-primary {
	background: #fd6e0a;
	color: #ffffff;
}
.btn-secondary {
	color: #fd6e0a;
	background: #ffffff;
	border: 1px solid #fd6e0a;
}
button i {
	margin-right: 8px;
}

.header {
	background: #fff8f3;
	background-image: url(../images/header_bg.png), url(../images/developer.png);
	background-repeat: no-repeat;
	background-position: bottom right, left;
}

/* header navigation styles */
nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 200px;
}
.nav-title {
	font-weight: 800;
	font-size: 45px;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	list-style: none;
	margin-left: 50px;
	cursor: pointer;
}

/* banner styles */
.banner {
	display: flex;
	align-items: center;
	margin: 0 30px 0 200px;
}
.banner-title {
	font-weight: 700;
	font-size: 85px;
	color: #181818;
	margin-bottom: 20px;
}
.banner-sub-title {
	font-weight: 600;
	font-size: 45px;
	color: #474747;
	margin-bottom: 5px;
}
.banner-description {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
}

/* main section */
main {
	max-width: 1140px;
	margin: 0 auto;
}
section {
	margin-top: 130px;
}
.section-title {
	color: #181818;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 30px;
	text-align: center;
}
.section-description {
	color: #757575;
	font-size: 18px;
	margin-bottom: 30px;
}

/* about section */
.about {
	padding: 130px 150px;
	background: #fff8f3;
	border-radius: 10px;
	text-align: center;
}
.about-info-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.info-title {
	color: #757575;
	font-size: 20px;
}
.info-description {
	color: #474747;
	font-weight: 700;
	font-size: 20px;
}

.skills-container {
	display: flex;
	gap: 24px;
	margin-top: 50px;
}
.skill {
	width: 267px;
	height: 350px;
	padding: 30px;
	background: #ffffff;
	box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	text-align: left;
}
.skill img {
	width: 44px;
	height: 44px;
	margin-bottom: 30px;
}
.skill-title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
	color: #181818;
}
.skill-description {
	color: #757575;
}

/* resume section */
.resume-content {
	display: flex;
	gap: 24px;
	margin-top: 80px;
}
.resume-title {
	color: #474747;
	font-weight: 700;
	font-size: 30px;
}
.resume-item {
	margin: 30px 30px 30px 0;
}
.resume .title {
	color: #474747;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 10px;
}
.resume .sub-title {
	color: #757575;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}
.resume .description {
	color: #757575;
}
.resume-download-btn {
	margin: 50px 0 110px 0;
	text-align: center;
}

/* contact styles */
.contact {
	display: flex;
	gap: 120px;
	background: #fff8f3;
	padding: 130px 200px;
}
.contact-section {
	flex: 1;
}
.contact .section-title {
	text-align: left;
}
.contact-icons a {
	margin-right: 24px;
	text-decoration: none;
}
.contact-section form {
	display: flex;
	flex-direction: column;
}
.contact-section input[type='text'],
input[type='email'],
textarea {
	margin-bottom: 24px;
	width: 100%;
	border: none;
	padding: 18px 30px;
	border-radius: 5px;
}
.contact-section input[type='text'],
input[type='email'] {
	height: 64px;
}

.contact-section input[type='submit'] {
	width: 150px;
}
