* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.text-primary {
	color: #fd6e0a;
}
.btn-primary {
	height: 64px;
	font-weight: 700;
	font-size: 20px;
	background: #fd6e0a;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 18px 35px;
}

.header {
	background: #fff8f3;
	background-image: url(../images/header_bg.png), url(../images/developer.png);
	background-repeat: no-repeat;
	background-position: bottom right, left;
}

/* header navigation styles */
nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 200px;
}
.nav-title {
	font-weight: 800;
	font-size: 45px;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	list-style: none;
	margin-left: 50px;
}

/* banner styles */
.banner {
	display: flex;
	align-items: center;
	margin: 0 30px 0 200px;
}
.banner-title {
	font-weight: 700;
	font-size: 85px;
	color: #181818;
	margin-bottom: 20px;
}
.banner-sub-title {
	font-weight: 600;
	font-size: 45px;
	color: #474747;
	margin-bottom: 5px;
}
.banner-description {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
}

/* main section */
main {
	max-width: 1140px;
	margin: 0 auto;
}
.section-title {
	color: #181818;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 30px;
}
.section-description {
	color: #757575;
	font-size: 18px;
	margin-bottom: 30px;
}

/* about section */
.about {
	margin-top: 130px;
	padding: 130px 150px;
	background: #fff8f3;
	border-radius: 10px;
	text-align: center;
}
.about-info-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-info {
}
.info-title {
	color: #757575;
	font-size: 20px;
}
.info-description {
	color: #474747;
	font-weight: 700;
	font-size: 20px;
}
